* {
    font-family: 'Roboto', sans-serif;
}

.cellHover {
    background-color: black;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8deff;
}

.sketch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    box-shadow: 4px 3px 8px 1px #969696;
    width: 600px;
    height: 600px;
    display: grid;
    background-color: #969696;
}

.buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    width: 200px;
}

.btn {
    background-color: #FF7377;
    margin: 20px;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    text-align: center;
}

.rainbow {
    background-image: linear-gradient( to right, #c8beff 0%, #dea8f8 10%, #a8deff 30%, #bdfacd 42%, #f3fabd 58%, #fae3bd 70%, #f8acab 95%, #feaad4 100%);
}

.whole {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}